Page {
    background-color: #f3f5f7;
}

ActionBar {
    background-color: #f3f5f7;
}

Label {
    color: #57667c;
    font-size: 15;
    vertical-align: center;
    margin-left: 10;
}

TextField, TextView {
    margin: 10 10 10 10;
}

.appBarButton{
    font-size: 25;
}

.materialIcon {
   font-family: 'Material-Design-Iconic-Font';
   color: #57667c;
    background-color: #f3f5f7;
}

ActivityIndicator {
    horizontal-align: center;
    vertical-align: center;
}

.header {
    font-size: 26;
    margin: 8 16 0 16;
}

.logo {
    horizontal-align: center;
    margin-top: 20;
    margin-bottom: 20;
}

.primaryButton {
    background-color: #57667c;
    color: #FFFFFF;
    margin: 10;
    padding: 10;
}

/* sigin page */
.signinLabel {
    font-size: 15;
    margin-top: 20;
    horizontal-align: center;
}

.signinTextField {
    margin: 10 20 10 20;
}