Page {
    background-color: #f3f5f7;
}

ActionBar {
    background-color: #f3f5f7;
}

Label {
    color: #57667c;
    font-size: 15;
    vertical-align: center;
    margin-left: 10;
    margin-bottom: 10;
}

TextField, TextView {
    margin: 10 10 10 10;
    color: #57667c;
}

.appBarButton{
    font-size: 25;
}

.materialIcon {
   font-family: 'Material-Design-Iconic-Font';
   color: #57667c;
    background-color: #f3f5f7;
}

ActivityIndicator {
    horizontal-align: center;
    vertical-align: center;
}

.header {
    font-size: 20;
    margin: 10 10 10 10;
    horizontal-align: center;
}

.logo {
    horizontal-align: center;
    margin-top: 20;
    margin-bottom: 20;
}

.primaryButton {
    background-color: #57667c;
    color: #FFFFFF;
    margin: 10;
    padding: 10;
}

/* sigin page */
.signinLabel {
    font-size: 15;
    margin-top: 20;
    horizontal-align: center;
}

.signinTextField {
    margin: 10 20 10 20;
}

/*details page*/
.bigLabel{
    font-size: 20;

}

.detailsSmallButton{
    background-color: #f3f5f7;
    horizontal-align: center;
    font-size: 10;
    color: #57667c;
    margin-top: 0;
    padding: 0;
}

.detailsBigButton{
    background-color: #f3f5f7;
    horizontal-align: left;
    font-size: 20;
    color: #57667c;
    text-transform: capitalize;
}

.description{
    text-overflow: ellipsis;
}

/*amenities page*/
.amenity{
    padding: 10 10 10 10;
    font-size: 15;
}

/*reviews page*/
.review {
    font-style: italic;
    margin:10 10 0 15;
}

.reviewLabel {
    text-align: right;
    margin:0 20 0 15;
}

/*gallery page*/
.image {
    margin:10 0 10 0;
}

.imageFullScreen{
    visibility: collapsed;
    margin-left: 50;
}