<Page xmlns="http://schemas.nativescript.org/tns.xsd" navigatingTo="navigatingTo" >
	<Page.actionBar>
        <ActionBar title="Title">
          <ActionBar.titleView>
            <GridLayout columns="70*, 15*, 15*">
                <StackLayout orientation="horizontal" col="0" row="0">
                    <Image src="res://icon" width="50px"/>
                    <Label text="FindMeInn" />
                </StackLayout>
            </GridLayout>
          </ActionBar.titleView>
        </ActionBar>
    </Page.actionBar>
  <GridLayout>
    <ScrollView>
      <StackLayout>
        <Button text="SignOut" tap="signuotButtonTap" cssClass="primaryButton"/>
      </StackLayout>
    </ScrollView>

    <ActivityIndicator busy="{{ isLoading }}" />
  </GridLayout>
</Page>